<div class="search_bar">
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-xs-12 col-md-10 col-md-offset-2">
        <input id="searchBox" />
  			<h3 class="customized">Не дышите на шедевры ...</h3>
  			<div class="poems-search-results">
          <div id="poems"></div>
  				<% @poems.each do |poem| %>
            <%= link_to poem_path(poem) do %>
              <% if poem.cover%>
                <div class="poem-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path poem.cover, height: 300, width: 300, crop: :fill %>')">
                  <div class="poem-card-banner text-center">
                    <h3><%= poem.title %></h3>
                    <p><%= poem.year.year %></p>
                  </div>
                </div>
              <% else %>
                <div class="poem-card" style="background-image: url('https://unsplash.it/200/200/?random')">
                      </div>
              <% end %>
            <% end %>
  				<% end %>
<!-- TEST ALGOLIA -->
          <div id="pagination">
            <!-- Pagination widget will appear here -->
          </div>
<!-- End Test Algolia -->
  			</div>
  		</div>
  	</div>
  	<!-- end of row -->
  </div>
  <!-- end of container -->
</div>




<script>
    const search = instantsearch({
    appId: '5AS663GRYM',
    apiKey: 'f175da6e608ba5154f17b4fdaf8d056b',
    indexName: 'Poem',
    urlSync: true
  });


  search.addWidget(instantsearch.widgets.hits({
    container: document.querySelector('#poems'),
    templates: {
      item: '{{{_highlightResult.title.value}}}'
    },
  }));

  search.addWidget(instantsearch.widgets.searchBox({
    container: document.querySelector('#searchBox'),
    placeholder: 'Найти стихотворение',
  }));




  // initialize pagination
  search.addWidget(
    instantsearch.widgets.pagination({
      container: '#pagination',
      maxPages: 5,
      // default is to scroll to 'body', here we disable this behavior
      scrollTo: false
    })
  );



  search.start();
</script>


<script>
  helper.on('result', function(content) {
    renderHits(content);
  });

  function renderHits(content) {
    $('#container').html(JSON.stringify(content, null, 2));
  }
</script>
