/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Bad+Script|Exo+2:100,300,700|Open+Sans:300,700&amp;subset=cyrillic,latin-ext");

$base-font: 'Exo 2', sans-serif;
$header-font: 'Bernadette Rough', 'Bad Script', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height

$base-size: 15px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #ee6352;

$red: #EE5F5B;
$blue: #4f7cac;
$yellow: #FDB631;
$orange: #E67E22;
$green: #57a773;
$gray: #474350;




// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
