// SECTION 1 - SEARCH FILTERS
.search_bar {
  font-weight: 200;
  font-size: 14px;
  h3 {
    font-weight: 700;
    font-size: 24px;
  }
}

.to_whom ul {
	padding-left: 0;
	display: flex;
}

.to_whom li {
	display: block;
	display: inline-block;
	padding: 4px;
}


li {
	margin: 0;
	list-style: none;
}


.years {
	display: flex;
	margin-right: 7px;
	align-items: center;
	flex-wrap: wrap;
}

.year {
	text-align: center;
	height: 30px;
	padding: 3px 5px;
	flex: 0 0 25%;
	margin: 5px;
	color: gray;
	border: 1px solid gray;
	background-color: white;
	border-radius: 8px;
}

.year-active {
	color: white;
	border: 1px solid gray;
	background-color: gray;
}

// SECTION 2: LIST OF POEMS
h3.customized {
	margin-top: 50px;
	margin-bottom: 30px;
	color: $brand-color;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 40px;
}


.poems-search-results {
  display: flex;
  flex-wrap: wrap;
}


.poem-card {
	display: flex;
  justify-content: space-around;
  align-items: center;
	height: 300px;
	width: 300px;
	// margin: auto;
	opacity: 0.6;
  margin: 10px;
  border: 1px solid $light-grey;

  &:hover {
  	opacity: 1;
  	border: 2px solid $brand-color;
  }
}

.poem-card-banner {
  width: 90%;
	color: white;
  letter-spacing: 1px;
  
  h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
  }

}

