// SECTION 1 - SEARCH FILTERS
.search_bar {
  font-weight: 200;
  font-size: 14px;
  h3 {
    font-weight: 700;
    font-size: 24px;
  }
}

.to_whom ul {
	padding-left: 0;
	display: flex;
}

.to_whom li {
	display: block;
	display: inline-block;
	padding: 4px;
}


li {
	margin: 0;
	list-style: none;
}


.years {
	display: flex;
	margin-right: 7px;
	align-items: center;
	flex-wrap: wrap;
}

.year {
	text-align: center;
	height: 30px;
	padding: 3px 5px;
	flex: 0 0 25%;
	margin: 5px;
	color: gray;
	border: 1px solid gray;
	background-color: white;
	border-radius: 8px;
}

.year-active {
	color: white;
	border: 1px solid gray;
	background-color: gray;
}

// SECTION 2: LIST OF POEMS


.poems-search-results {
  display: flex;
  flex-wrap: wrap;
}


.poem-card {
	height: 300px;
	width: 300px;
	opacity: 0.6;
  position: relative;
  margin-right: 50px;
  margin-bottom: 50px;
}

.poem-card-banner {
  width: 300px;
  background-color: $blue;
	opacity: 0.9;
	color: white;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0px;
}

.poem-flex-text {
  flex: 0 0 60%;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

}

