.wrapper-toys  {
  display: block;
  position: relative;
  background-size: cover;
  min-height: 100vh;
  font-weight: 300;

  i.solo {
    font-size: 36px;
    position: absolute;
    left: 25px;
    top: 25px;
  }

}

.wrapper-toys::after {
  background-image: image-url('background-pattern.jpg');
  opacity: 0.3;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.poem-photo {
    margin-top: 25px;
    margin: auto;
    max-width: 90%;
    height: auto;

    img {
      margin-top: 25px;
      width: 100%;
      height: auto;
      box-shadow: 1px 1px 4px #E6E6E6;
    }
}

.poem-info {
  position: relative;
  height: 150px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.poem-date {
  position: absolute;
  left: 15px;
  top: 10px;
  p {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.poem-author-pic {
  position: absolute;
  right: 15px;
  top: 50px;
  text-align: left;
}


.poem-description {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.poem-description, .poem-author-pic {
  h2 {
    font-size: 30px;
    color: $green;
    margin-top: 10px;
    margin-bottom:  10px;
  }

  p.print {
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: $brand-choco;
  }

  p {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.poem-content {
  padding: 30px 0 30px 100px;
  letter-spacing: 1px;
}

.white-sheet {
  background-color: white;
  margin-top: 45px;
  padding-top: 10px;
  margin-bottom: 60px;
  padding-bottom: 30px;
}


.poem-navigation {
  margin-left: 45px;
  span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
