<div class="wrapper-home">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="welcome">
					<p>Welcome to</p>
					<h1>Starkovs' Masterpieces</h1>
					<div class="cta">
						<%= link_to poems_path do %>
							<span class="btn-home">Discover collection</span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>