<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.4) 50%), url(<%= image_path 'boy-2.jpg'%>)">
  <div class="banner-size opacity-layer"></div>
  <div class="banner-size banner-content">
    <h1>Starkovs Masterpieces</h1>
    <p>Нет, я не Байрон, я - Старков</p>
    <a class="btn btn-lg red">Коллекция шедевров</a>
    <a class="btn btn-lg brown">Добавить шедевр</a>
  </div>
</div>

