.btn {
   text-decoration: none; 
}


.btn-lg {
  text-align: center;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 300px;

  &:hover {
      text-decoration: none;
      transition: background 0.3s ease;
      border-width: 3px;
      font-weight: 700;
    }

  &.red {
    color: $brand-color;
    border-color: $brand-color;
  }


  &.brown {
    color: $brand-choco;
    border-color: $brand-choco;
  }






}
