.portrait {
	width: 70%;
	border: 1px solid $light-grey;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.space {
		margin-top: 25px;
		margin-bottom: 15px;
	}
}




.custom-form {
	label {
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 300;
	}

	p {
		font-weight: 300;
	}
}



h1.custom {
	color: $brand-color;
	font-size: 60px;
	margin-top: 60px;
	margin-bottom: 25px;
}

h2.custom {
	color: $brand-color;
	margin-bottom: 40px;

}


.btn {
	&.custom {
		background-color: white;
	}
}